<!doctype html>
<html>
<head><title>atm</title></head>
<h1>SBI ATM</h1><br><br>

<h4>"Your balance is": {{balance}}</h4>
<h4>{{msg}}</h4>

<form action={{url_for('atm')}} id="atm" method="POST">
	<input type="number" name="amount" value="0" required/><br>
	<input type="submit" name="action" value="Withdraw" onclick="validateForm(this)"/><br>
	<input type="submit" name="action" value="Deposit" onclick="validateForm(this)"/><br>
	</form>
<script>
function validateForm(button){
	var form=document.getElementById("atm");
	if(form.amount.value==" "){
		alert('Amount cannot be empty');
		return false
	}
	if(parseInt(form.amount.value)<0){
		alert('Amount cannot be negative');
		return false
	}	
	if(button.value=="Withdraw" && parseInt(form.amount.value)>5000){
		alert('Cannot withdraw more than 5000');
		return false
	}
}

</html>
